Directory:
  exp_name: Resnet18_nyu_diode_0-1
  data_dir: ./depth/data/ # Directory containing the dataset
  log_dir: ./tensorboard  # TensorBoard log directory
  weights: ./weights      # Checkpoint weights directory
  results: ./results      # Results directory

Dataset: # True is using the dataset, False is not using the dataset
  Nyu_depth_v2:
    train: True  
    valid: True
  Diode:
    train: True  
    valid: False 
  DIML:
    train: False
    valid: False
  Hypersim:
    train: False 
    valid: False 
  Custom:
    train: True
    valid: False
  Redwood:
    train: True
    valid: False

Train:
  mode: 'metric' # 'relative' (normalized depth) or 'metric' (absolute depth)
  use_amp: True # Use automatic mixed precision for training
  use_shuffle: True # Whether to shuffle training data
  num_scale: 4 # Number of scales for multi-scale training
  num_workers: 16 # Number of workers for data loading
  train_plot_interval: 200 # Interval for plotting during training
  valid_plot_interval: 10 # Interval for plotting during validation
  valid_freq: 1 # Frequency for validation
  save_freq: 2 # Frequency for saving checkpoints
  min_depth: 0.1  # Minimum depth value for normalization
  max_depth: 10.0 # Maximum depth value for normalization
  img_w: 640  # Image width
  img_h: 480  # Image height
  beta1: 0.9  # Beta1 for Adam optimizer
  weight_decay: 0.00001  # Weight decay for optimizer
  batch_size: 32  # Training batch size
  epoch: 31  # Total number of epochs
  init_lr: 0.0001  # Initial learning rate 
  final_lr: 0.00001 # Final learning rate after warmup
  power: 0.9  # Learning rate scheduler power factor

Experiment:
  gpus: [1] # List of GPU IDs to use for training
  gpu_vram: 24000 # Total VRAM (MB) available
  gpu_vram_factor: 0.8 # Fraction of VRAM to use (0.0 to 1.0)