* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: black;
    overflow: hidden;
  }
  video,
  canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  #renderCanvas {
    position: absolute;      /* 다른 요소 위에 위치하도록 */
    top: 0;
    left: 0;
    width: 100%;             /* 화면 전체 크기로 확장 (필요에 따라 조정) */
    height: 100%;
    z-index: 10;             /* 오버레이 우선순위, 다른 요소보다 높게 */
    pointer-events: none;    /* 캔버스 위의 마우스 이벤트 무시 (필요한 경우) */
    background-color: transparent;  /* 배경 투명 처리 */
  }
  button {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    font-size: 18px;
    background: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  