Directory:
  exp_name: Monodepth2-fullRes-dataStep1
  data_dir: ./vo/data/
  log_dir: ./tensorboard
  weights: ./weights
  results: ./results

Dataset:
  custom_data:
    mono: False
    stereo: False
  mars_logger:
    mono: True
    stereo: False
  irs:
    mono: False
    stereo: False

Train:
  mode: axisAngle # axisAngle, euler
  use_shuffle: True
  train_plot_interval: 100 # 100
  valid_plot_interval: 20
  num_workers: 8
  use_amp: True
  use_compile: True
  valid_freq: 1
  save_freq: 2
  vis_batch_size: 1
  num_source: 1 # num_source = 1 >> image pair (t-1, t, t+1) / 2 >> image pair (t-2, t-1, t, t+1, t+2) default: 1
  num_scale: 4
  imu_seq_len: 10
  min_depth: 0.1
  max_depth: 10.0
  ssim_ratio: 0.85
  smoothness_ratio: 0.001
  auto_mask: True
  use_multiscale: False
  img_w: 640 #640
  img_h: 480 #480
  weight_decay: 0.00001
  beta1: 0.9
  batch_size: 32 # 1
  epoch: 31
  init_lr: 0.0001
  final_lr: 0.00001

Experiment:
  gpus: [0] # [0, 1]
  gpu_vram: 30000
  gpu_vram_factor: 0.9